{% extends "layout.html" %}
{% block title %}
  Dividends
{% endblock title %}
{% block main %}
  <table class="table table-borderless">
    {% for asset in assets %}
      <tr>
        <td>{{ asset["asset_name"] }}</td>
        <td>
          <form action="{{ url_for('analysis.show_dividends', asset_id=asset['asset_id']) }}"
                method="get">
            <button type="input" class="btn btn-primary">Show Dividends</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock main %}
