{% extends "layout.html" %}
{% block title %}
  Return on Investment
{% endblock title %}
{% block main %}
  {% if assets %}
    <table class="table">
      <thead>
        <th>Asset name</th>
        <th>Position open</th>
        <th>Total invested</th>
        <th>Total sold</th>
        <th>Market value</th>
        <th>Dividends received</th>
        <th>ROI</th>
        <th>Annualised return</th>
      </thead>
      <tbody>
        {% for asset in assets %}
          <tr>
            <td>{{ asset["asset_name"] }}</td>
            <td>
              {% if asset["still_open"] %}
                Yes
              {% else %}
                No
              {% endif %}
            </td>
            <td>
              {% if asset["total_invested"] %}
                {{ asset["total_invested"] | format_currency(asset["currency"]) }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              {% if asset["total_sold"] %}
                {{ asset["total_sold"] | format_currency(asset["currency"]) }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              {% if asset["market_value"] %}
                {{ asset["market_value"] | format_currency(asset["currency"]) }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              {% if asset["total_dividends"] %}
                {{ asset["total_dividends"] | format_currency(asset["currency"]) }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              {% if asset["roi"] %}
                {{ "%.2f" | format(100 * asset["roi"]) }} %
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              {% if asset["irr"] %}
                {{ "%.2f" | format(100 * asset["irr"]) }} %
              {% else %}
                -
              {% endif %}
            </tr>
          </td>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock main %}
