<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" />
    <meta name="keywords" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="navbar navbar-expand-md">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('accounts.index') }}">Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('assets.index') }}">Assets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('transactions.index') }}">Transactions</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 role="button"
                 data-bs-toggle="dropdown">Market data</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{{ url_for('market.get_prices') }}">Prices</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('market.get_dividends') }}">Dividends</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('market.get_splits') }}">Splits</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 role="button"
                 data-bs-toggle="dropdown">Portfolio analysis</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{{ url_for('analysis.show_return') }}">ROI</a>
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('analysis.portfolio_evolution') }}">Evolution</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 role="button"
                 data-bs-toggle="dropdown">Market analysis</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('market_analysis.search_etf') }}">Screen ETFs</a>
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('market_analysis.compare_etfs') }}">Compare ETFs</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        {% if get_flashed_messages(): %}
          <p>{{ get_flashed_messages() | join(" ") }}</p>
        {% endif %}
      </header>
    </div>
    <main>
      {% block main %}
      {% endblock main %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
