{% extends "layout.html" %}
{% block title %}
  Edit
{% endblock title %}
{% block main %}
  <div class="container">
    <form action="{{ url_for('assets.edit', asset_id=asset['asset_id']) }}"
          method="post">
      <input name="account_id"
             type="hidden"
             class="form-control"
             value="{{ asset['account_id'] }}" />
      <div class="mb-3">
        <label class="form-label" for="assetNameInput">Asset name</label>
        <input name="asset_name"
               type="text"
               class="form-control"
               value="{{ asset['asset_name'] }}" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="marketSourceInput">Market Source</label>
        <select name="market_source_id" class="form-select">
          {% for source in market_sources %}
            <option value="{{ source['source_id'] }}">{{ source["display_name"] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <div class="form-check">
          <input name="still_open"
                 type="checkbox"
                 class="form-check-input"
                 {% if asset["still_open"] %}checked{% endif %} />
          <label class="form-check-label">Position open</label>
        </div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Edit</button>
      </div>
    </form>
  </div>
{% endblock main %}
