{% extends "layout.html" %}
{% block title %}
  Edit
{% endblock title %}
{% block main %}
  <div class="container">
    <form action="{{ url_for('assets.edit', asset_id=asset['asset_id']) }}"
          method="post">
      <input name="account_id"
             type="hidden"
             class="form-control"
             value="{{ asset['account_id'] }}" />
      <div class="mb-3">
        <label class="form-label" for="assetNameInput">Asset name</label>
        <input name="asset_name"
               type="text"
               class="form-control"
               value="{{ asset['asset_name'] }}" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="assetNameInput">Asset type</label>
        <select class="form-select" name="asset_type">
          <option value="Stock"
                  {% if asset["asset_type"] == "Stock" %}selected{% endif %}>
            Stock
          </option>
          <option value="ETF" {% if asset["asset_type"] == "ETF" %}selected{% endif %}>
            ETF
          </option>
          <option value="Brazilian bond"
                  {% if asset["asset_type"] == "Brazilian bond" %}selected{% endif %}>
            Brazilian bond
          </option>
        </select>
      </div>
      <div class="mb-3">
        <div class="form-check">
          <input name="still_open"
                 type="checkbox"
                 value="1"
                 class="form-check-input"
                 {% if asset["still_open"] %}checked{% endif %} />
          <label class="form-check-label">Position open</label>
        </div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Edit</button>
      </div>
    </form>
  </div>
{% endblock main %}
