{% extends "layout.html" %}
{% block title %}
  ETF comparer
{% endblock title %}
{% block main %}
  <div class="container">
    <form action="{{ url_for('analysis.etf_screener') }}" method="get">
      <div class="mb-2">
        <input type="text"
               name="ticker"
               class="form-control"
               placeholder="Type ETF ticker">
      </div>
      <div class="mb-4">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>
    {% if etf is defined %}
      <!-- Basic details -->
      <table class="table">
        <thead>
          <tr>
            <th class="col-3">Information</th>
            <th class="col-3">Details</th>
          </tr>
        </thead>
        <tbody>
          {% set fund_info = etf.get_info() %}
          <tr>
            <td>Symbol</td>
            <td>{{ fund_info.get("symbol") }}</td>
          </tr>
          <tr>
            <td>Fund name</td>
            <td>{{ fund_info.get("longName") }}</td>
          </tr>
          <tr>
            <td>Net assets (Fund size)</td>
            <td>{{ fund_info.get("netAssets") | format_currency(fund_info["currency"]) }}</td>
          </tr>
          <tr>
            <td>Expense ratio</td>
            <td>
              {% if fund_info.get("netExpenseRatio") %}
                {{ fund_info.get("netExpenseRatio") }} %
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Performance -->
      <table class="table">
        <thead>
          <tr>
            <th class="col-3">Year</th>
            <th class="col-3">Price change</th>
          </tr>
        </thead>
        <tbody>
          {% set fund_performance = etf.get_performance() %}
          {% for i in fund_performance.itertuples() %}
            <tr>
              <td>{{ i[1] }}</td>
              <td>
                {% if i[2] != i[2] %}
                  -
                {% else %}
                  {{ i[2] | round(2, 'common') }} %
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- Top holdings -->
      <table class="table">
        <thead>
          <tr>
            <th class="col-3">Company name</th>
            <th class="col-3">Holding percentage</th>
          </tr>
        </thead>
        <tbody>
          {% set top_holdings = etf.get_top_holdings() %}
          {% set ns = namespace(total=0) %}
          {% for i in top_holdings.itertuples() %}
            <tr>
              <td>{{ i[1] }}</td>
              <td>{{ (100 * i[2]) | round(2, 'common') }} %</td>
              {% set ns.total = ns.total + i[2] %}
            </tr>
          {% endfor %}
          <tr>
            <td>Total Top 10 Companies</td>
            <td>{{ (100 * ns.total) | round(2, 'common') }} %</td>
          </tr>
        </tbody>
      </table>
      <!-- Sector weightings -->
      <table class="table">
        <thead>
          <tr>
            <th class="col-3">Sector</th>
            <th class="col-3">Holding percentage</th>
          </tr>
        </thead>
        <tbody>
          {% set sector_weightings = etf.get_sector_weightings() %}
          {% for sector in sector_weightings %}
            <tr>
              <td>{{ sector }}</td>
              <td>{{ (100 * sector_weightings.get(sector) ) | round(2, 'common') }} %</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock main %}
