{% extends "asset_layout.html" %}
{% block asset %}
  <form action="{{ url_for('assets.edit', asset_id=asset.id) }}"
        method="post">
    <div class="mb-3">
      <label class="form-label" for="assetSymbolInput">Asset symbol</label>
      <input type="text"
             class="form-control"
             id="assetSymbolInput"
             placeholder="Asset symbol"
             name="asset_symbol"
             value="{{ asset.info.symbol }}">
    </div>
    <div class="mb-3">
      <label class="form-label" for="assetNameInput">Asset name</label>
      <input name="asset_name"
             type="text"
             id="assetNameInput"
             placeholder="Asset name"
             class="form-control"
             value="{{ asset.info.name }}" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="assetNameInput">Asset type</label>
      <select class="form-select" name="asset_type">
        <option value="Stock"
                {% if asset.info.type == "Stock" %}selected{% endif %}>
          Stock
        </option>
        <option value="ETF" {% if asset.info.type == "ETF" %}selected{% endif %}>
          ETF
        </option>
        <option value="Brazilian bond"
                {% if asset.info.type == "Brazilian bond" %}selected{% endif %}>
          Brazilian bond
        </option>
      </select>
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input name="still_open"
               type="checkbox"
               id="openPositionCheckBox"
               value="1"
               class="form-check-input"
               {% if asset.still_open %}checked{% endif %} />
        <label class="form-check-label" for="openPositionCheckBox">
          Position open
        </label>
      </div>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Edit</button>
    </div>
  </form>
{% endblock asset %}
