{% extends "layout.html" %}
{% block title %}
  Assets
{% endblock title %}
{% block main %}
  <div class="container">
    <div class="mb-3">
      <a href="{{ url_for('assets.add') }}">Add new asset</a>
    </div>
    <form action="{{ url_for('assets.index') }}" method="get">
      <div class="mb-3">
        <input type="text"
               class="form-control"
               name="search"
               placeholder="Type asset name">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    {% if assets %}
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Asset symbol</th>
              <th>Position open</th>
            </tr>
          </thead>
          <tbody>
            {% for asset in assets: %}
              <tr>
                <td>
                  <a href="{{ url_for('assets.edit', asset_id=asset.id) }}">
                    {{ asset.info.symbol }}
                  </a>
                </td>
                <td>
                  <input type="checkbox"
                         disabled
                         {% if asset.still_open %}checked{% endif %} />
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
{% endblock main %}
