{% extends "layout.html" %}
{% block title %}
  Market sources
{% endblock title %}
{% block main %}
  <a href="{{ url_for('market.add_source') }}">Add new source</a>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Display name</th>
        <th>Source key</th>
        <th>Support prices</th>
        <th>Support dividends</th>
        <th>Support stock splits</th>
      </tr>
    </thead>
    <tbody>
      {% for source in market_sources: %}
        <tr>
          <td>{{ source["display_name"] }}</td>
          <td>{{ source["source_key"] }}</td>
          <td><input type="checkbox" disabled {% if source["supports_prices"] %}checked {% endif %}</td>
          <td><input type="checkbox" disabled {% if source["supports_dividends"] %}checked {% endif %}</td>
          <td><input type="checkbox" disabled {% if source["supports_stock_splits"] %}checked {% endif %}</td>
          <td>
            <form action="{{ url_for('market.update_source', source_id=source['source_id']) }}"
                  method="post">
              <button type="submit" class="btn btn-primary">Update</button>
            </form>
          </td>
          <td>
            <form action="{{ url_for('market.edit_source', source_id=source['source_id']) }}"
                  method="get">
              <button type="submit" class="btn btn-primary">Edit</button>
            </form>
          </td>
          <td>
            <form action="{{ url_for('market.delete_source', source_id=source['source_id']) }}"
                  method="post">
              <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}
