{% extends "layout.html" %}
{% block title %}
  Edit
{% endblock title %}
{% block main %}
  <div class="container">
    <form action="{{ url_for('transactions.edit', transaction_id=transaction['transaction_id']) }}"
          method="post">
      <input name="asset_id" type="hidden" value="{{ transaction['asset_id'] }}" />
      <div class="mb-3">
        <label class="form-label" for="assetNameInput">Asset name</label>
        <input name="asset_name"
               type="text"
               class="form-control"
               id="assetNameInput"
               value="{{ asset['asset_name'] }}"
               disabled />
      </div>
      <div class="mb-3">
        <label class="form-label" for="dateInput">Date</label>
        <input name="date"
               type="date"
               class="form-control"
               id="dateInput"
               value="{{ transaction['date'] }}" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="sharesInput">Shares</label>
        <input name="shares"
               type="number"
               class="form-control"
               id="sharesInput"
               step="0.01"
               value="{{ transaction['shares'] }}" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="priceInput">Price</label>
        <input name="price"
               type="number"
               class="form-control"
               id="priceInput"
               step="0.01"
               min="0"
               value="{{ transaction['price'] }}" />
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Edit</button>
      </div>
    </form>
  </div>
{% endblock main %}
