{% extends "layout.html" %}
{% block title %}
  History
{% endblock title %}
{% block main %}
  <div class="mb-3">
    <a href="{{ url_for('transactions.add') }}">Add new transaction</a>
  </div>
  <div class="mb-3">
    <input class="form-control"
           type="text"
           id="search-field"
           onkeyup="filterTable()"
           placeholder="Search for asset names..." />
  </div>
  <table class="table table-borderless" id="transactions-table">
    <thead>
      <tr>
        <th>Account</th>
        <th>Asset</th>
        <th>Date</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Split Shares</th>
        <th>Split Prices</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for t in transactions: %}
        <tr>
          <td>{{ t ["account_name"] }}</td>
          <td>{{ t ["asset_name"] }}</td>
          <td>{{ t["date"]| format_date }}</td>
          <td>{{ "%.2f" | format(t["shares"]) }}</td>
          <td>{{ t["price"] | format_currency(t["currency"]) }}</td>
          {% if t["is_adjusted"] %}
            <td>{{ "%.2f" | format(t["adj_shares"]) }}</td>
            <td>{{ t["adj_price"] | format_currency(t["currency"]) }}</td>
            <td>{{ (t["adj_price"] * t["adj_shares"]) | format_currency(t["currency"]) }}</td>
          {% else %}
            <td>-</td>
            <td>-</td>
            <td>{{ (t["price"] * t["shares"]) | format_currency(t["currency"]) }}</td>
          {% endif %}
          <td>
            <form action="{{ url_for('transactions.edit', transaction_id=t['transaction_id']) }}"
                  method="get">
              <button type="submit" class="btn btn-primary">Edit</button>
            </form>
          </td>
          <td>
            <form action="{{ url_for('transactions.delete', transaction_id=t['transaction_id']) }}"
                  method="post">
              <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}
{% block javascript %}
  <script>
    function filterTable() {

      const input = document.getElementById('search-field');
      const table = document.getElementById('transactions-table');
      const tr = table.getElementsByTagName('tr');
      const filter = input.value.toUpperCase();

      for (let i = 0; i < tr.length; i++ )
      {
        let td = tr[i].getElementsByTagName('td')[1];
        if (td)
        {
          let txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

  </script>
{% endblock javascript %}
